{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
	<img class="logo" src="assets/img/phactory-framework-logo.jpg">
	<h1 class="welcome">Thank you for using Phactory framework</h1>
{% endblock %}