{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
	<img class="logo" src="assets/img/phactory2.png">
	<h1 class="welcome">Thank you for using Phactory framework</h1>
{% endblock %}